body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

canvas {
  user-select: none;
  touch-action: none;
  display: block;
  width: 100%;
  height: 400px;
  @media (max-width: 600px) {
    height: 300px;
  }
}

.Header {
  padding: 16px;
  border-bottom: solid 1px red;
}

.Row {
  display: flex;
  padding-left: 16px;
}

.GraphCard {
  max-width: 1000px;
  margin: auto;
  padding: 8px;
}

h1,
p {
  margin: 4px 0;
}

.ActiveLegend {
  user-select: none;
  touch-action: none;
  width: 120px;
  background: blue;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 0px;
  font-size: 12px;
  text-align: center;
  z-index: 100;
}

.ActiveCircle {
  user-select: none;
  touch-action: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: yellow;
  border: solid 1px black;
  z-index: 99;
}

.ActiveLine {
  user-select: none;
  touch-action: none;
  position: absolute;
  top: 0;
  left: 0;
  border-left: 1px solid red;
  height: 100%;
  z-index: 98;
}
